{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "createDefaultProgram": true
  },
  "extends": [
    "plugin:jest/recommended",
    "plugin:react/recommended",
    "eslint:recommended"
  ],
  "plugins": [
    "jest",
    "react-hooks",
    "eslint-plugin-react",
    "eslint-plugin-import"
  ],
  "rules": {
    /* React Rules */
    "react/prop-types": 0,
    "react/jsx-uses-vars": "error",
    "react/react-in-jsx-scope": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": 0,
    "react/display-name": 0,

    /* Jest Rules */
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",

    /* App Rules */
    "no-prototype-builtins": 0,
    "no-use-before-define": 0,
    "no-case-declarations": 0,
    "dot-notation": "error",
    "no-loop-func": "error",
    "prefer-template": "error",
    "no-nested-ternary": "error",
    "no-param-reassign": "error",
    "no-array-constructor": "error",
    "no-useless-constructor": "error",
    "max-params": ["error", 3],
    "keyword-spacing": ["error"],
    "eqeqeq": ["error", "always"],
    "arrow-parens": ["error", "always"],
    "object-curly-spacing": ["error", "always"],
    "implicit-arrow-linebreak": ["error", "beside"],
    "operator-linebreak": ["error", "before"],
    "new-cap": ["error", { "capIsNew": true }],
    "no-bitwise": ["error", { "int32Hint": true }],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "max-lines": ["error", { "max": 250, "skipComments": true }],
    "no-duplicate-imports": ["error", { "includeExports": true }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "max-len": ["error", { "code": 120, "comments": 120, "tabWidth": 2 }],
    "no-console": ["error", { "allow": ["time", "timeEnd", "warn", "error"] }],
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0, "maxBOF": 0 }],
    "padding-line-between-statements": ["error", { "blankLine": "always", "prev": "directive", "next": "*"}],
    "import/order": ["error", {"groups": ["builtin", "external", "internal", "parent", "sibling", "index"]}]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "globals": {
    "document": false
  },
  "overrides": [
    {
      "files": "**/*.+(ts|tsx)",
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "plugins": ["@typescript-eslint"],
      "extends": ["plugin:@typescript-eslint/recommended"],
      "rules": {
        "@typescript-eslint/ban-ts-comment": 0,
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/no-non-null-assertion": 0,
        "@typescript-eslint/explicit-module-boundary-types": 0,
        "@typescript-eslint/explicit-function-return-type": 0,
        "@typescript-eslint/no-use-before-define": ["error", { "functions": false }],
        "@typescript-eslint/no-inferrable-types": ["error"],
        "@typescript-eslint/naming-convention": ["error",{
          "selector": "interface",
          "format": ["PascalCase"],
          "custom": {
            "regex": "^I[A-Z]",
            "match": true
          }
        }]
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
