{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "createDefaultProgram": true
  },
  "extends": [
    "plugin:jest/recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended"
  ],
  "plugins": [
    "jest",
    "react-hooks",
    "eslint-plugin-react",
    "eslint-plugin-import",
    "@typescript-eslint"
  ],
  "rules": {
    /* Jest Rules */
    "jest/no-done-callback": "off",

    /* Typescript Rules */
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-use-before-define": ["error", { "functions": false }],
    "@typescript-eslint/no-inferrable-types": ["error"],
    "@typescript-eslint/naming-convention": ["error",{
      "selector": "interface",
      "format": ["PascalCase"],
      "custom": {
        "regex": "^I[A-Z]",
        "match": true
      }
    }],

    /* App Rules */
    "semi": ["error", "never"],
    "dot-notation": "error",
    "no-loop-func": "error",
    "prefer-template": "error",
    "no-nested-ternary": "error",
    "no-param-reassign": "error",
    "no-array-constructor": "error",
    "no-useless-constructor": "error",
    "no-plusplus": "off",
    "no-case-declarations": "off",
    "react/prop-types": "off",
    "react/display-name": "off",
    "keyword-spacing": ["error"],
    "eqeqeq": ["error", "always"],
    "arrow-parens": ["error", "always"],
    "object-curly-spacing": ["error", "always"],
    "implicit-arrow-linebreak": ["error", "beside"],
    "operator-linebreak": ["error", "before"],
    "new-cap": ["error", { "capIsNew": true }],
    "no-bitwise": ["error", { "int32Hint": true }],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "max-lines": ["error", { "max": 200, "skipComments": true }],
    "no-duplicate-imports": ["error", { "includeExports": true }],
    "max-len": ["error", { "code": 120, "comments": 120, "tabWidth": 2 }],
    "no-console": ["error", { "allow": ["time", "timeEnd", "warn", "error"] }],
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0, "maxBOF": 0 }],
    "padding-line-between-statements": ["error", { "blankLine": "always", "prev": "directive", "next": "*"}],
    "import/order": [
      "error",
      {
        "pathGroups": [
          {
            "pattern": "@/**",
            "group": "external",
            "position": "after"
          }
        ],
        "groups": [
          "builtin",
          "external",
          "internal",
          "unknown",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ]
      }
    ]
  },
  "overrides": [{
    "files": ["*.spec.*"],
    "rules": {
      "max-lines": "off"
    }
  }],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "globals": {
    "JSX": true,
    "document": false
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
